@use "sass:color";
@import "plyr/dist/plyr.css";

.plyr--video {
  width: 100%;
  height: 100%;
}

.plyr--audio-wrp {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.plyr--audio {
  width: 120%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
  background-color: none;
  --plyr-audio-controls-background: rgba(0, 0, 0, 0.5);
  --plyr-audio-control-color: #fff;
  border-radius: 12px;
}
.plyr__close {
  img {
    width: 24px;
    height: 24px;
  }
}
.telebox-color-scheme-dark .plyr--audio {
  color-scheme: dark;
  background-color: #121212;
  --plyr-audio-controls-background: #121212;
  --plyr-audio-control-color: #eee;
}

.disbale-progress {
  .plyr__progress {
    pointer-events: none;
  }
  .plyr__volume {
    pointer-events: none;
    display: none;
  }
}

.is-mobile {
  .plyr__progress {
    pointer-events: none;
  }
  .plyr__volume {
    pointer-events: none;
    display: none;
  }
  .plyr__control {
    display: none;
  }
}

.app-plyr-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background: white;
}

.app-plyr-loader {
  border: 4px solid rgba(57, 171, 255, 1);
  border-left-color: transparent;
  width: 36px;
  height: 36px;
  animation: spin 1s linear infinite;
  border-radius: 100%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
